<main class="container">
  <%= link_to sanitize("&larr; Back to parent"), parent_path(@parent) %>

  <div class="header">
    <h1>New visit request</h1>
  </div>

  <%= turbo_frame_tag nested_dom_id(@parent, Visit.new) do %>
    <%= render "form",
              parent: @parent,
              visit: @visit %>
  <% end %>
</main>